@import url('https://fonts.googleapis.com/css2?family=Allison&family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Petit+Formal+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tiny5&display=swap');
body {
    font-family: 'Poppins', sans-serif !important;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.active-filter {
    background-color: #157347 !important;
    color: white !important;
}

@media (min-width: 768px) {
    #sidebarMenu {
        position: sticky;
        top: 72px; 
        height: calc(100vh - 72px) !important;
    }
    .offcanvas-body {
        height: 100% !important;
        display: flex !important;
        flex-direction: column !important;
    }
}