.user-avatar { width: 40px; height: 40px; border-radius: 50%; object-fit: cover; }
.active-filter { background-color: #157347 !important; color: white !important; }

@media (min-width: 768px) {
    #sidebarMenu {
        position: sticky;
        top: 72px; 
        height: calc(100vh - 72px) !important;
    }
    .offcanvas-body {
        height: 100% !important;
        display: flex !important;
        flex-direction: column !important;
    }
}